<h2>Relatórios</h2>

<ul>
  <li>Total de Reservas: {{totalReservas}}</li>
  <li>Total de Produtos: {{totalProdutos}}</li>
  <li>Total de Clientes: {{totalClientes}}</li>
  <li>Total de Funcionários: {{totalFuncionarios}}</li>
  <li>Total de Vagas: {{totalVagas}}</li>
</ul>
